<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yougou.wfx.commodity.dao.CommodityBrandCatb2cMapper">
    <resultMap id="CommodityBrandCatb2c" type="com.yougou.wfx.commodity.model.CommodityBrandCatb2cEntity">
    	<result property="id" column="id" jdbcType="VARCHAR"/>
    	<result property="catb2cId" column="catb2c_id" jdbcType="VARCHAR"/>
    	<result property="brandId" column="brand_id" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
		id,catb2c_id,brand_id
    </sql>
    
    <sql id="where">
			<if test="id != null and id != ''">
        	and id = #{id,jdbcType=VARCHAR}
	        </if>
			<if test="catb2cId != null and catb2cId != ''">
        	and catb2c_id = #{catb2cId,jdbcType=VARCHAR}
	        </if>
			<if test="brandId != null and brandId != ''">
        	and brand_id = #{brandId,jdbcType=VARCHAR}
	        </if>
    </sql>
    
    <sql id="set">
			<if test="id != null">
        	id = #{id,jdbcType=VARCHAR},
	        </if>
			<if test="catb2cId != null">
        	catb2c_id = #{catb2cId,jdbcType=VARCHAR},
	        </if>
			<if test="brandId != null">
        	brand_id = #{brandId,jdbcType=VARCHAR}
	        </if>
    </sql>
    
    <select id="getById" resultMap="CommodityBrandCatb2c" parameterType="java.lang.String">
        select 
        <include refid="Base_Column_List"/>
        from tbl_commodity_brand_catb2c
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="findPage" parameterType="com.yougou.wfx.commodity.model.CommodityBrandCatb2cEntity" resultMap="CommodityBrandCatb2c">
        select <include refid="Base_Column_List"/> from tbl_commodity_brand_catb2c where 1=1 
        <include refid="where" />
    </select>
    
    <select id="findPageCount" parameterType="com.yougou.wfx.commodity.model.CommodityBrandCatb2cEntity" resultType="int">
        select count(1) from tbl_commodity_brand_catb2c where 1=1 
        <include refid="where" />
    </select>
    
    <select id="queryList" parameterType="com.yougou.wfx.commodity.model.CommodityBrandCatb2cEntity" resultMap="CommodityBrandCatb2c">
        select <include refid="Base_Column_List"/> from tbl_commodity_brand_catb2c where 1=1 
        <include refid="where" />
    </select>
   
    <insert id="insert" parameterType="com.yougou.wfx.commodity.model.CommodityBrandCatb2cEntity">
        insert into tbl_commodity_brand_catb2c (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=VARCHAR},#{catb2cId,jdbcType=VARCHAR},#{brandId,jdbcType=VARCHAR}
        )
    </insert>
    
    <insert id="batchInsert" parameterType="com.yougou.wfx.commodity.model.CommodityBrandCatb2cEntity">
        insert into tbl_commodity_brand_catb2c (<include refid="Base_Column_List" />)
        values 
        <foreach collection="list" item="item" separator=",">
			(
				 #{item.id,jdbcType=VARCHAR},#{item.catb2cId,jdbcType=VARCHAR},#{item.brandId,jdbcType=VARCHAR}
			)
		</foreach>
    </insert>
    
    
    
    <delete id="remove" parameterType="java.lang.String" >
        delete from tbl_commodity_brand_catb2c
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <delete id="deleteByBrandId" parameterType="java.lang.String">
    	 delete from tbl_commodity_brand_catb2c
        where brand_id = #{brandId,jdbcType=VARCHAR}
    </delete>
    
    <update id="update" parameterType="com.yougou.wfx.commodity.model.CommodityBrandCatb2cEntity" >
        update tbl_commodity_brand_catb2c
        <set>
      	<include refid="set" />
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>