<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yougou.wfx.notice.dao.NoticeMapper">
    <resultMap id="Notice" type="com.yougou.wfx.notice.model.NoticeEntity">
    	<result property="id" column="Id" jdbcType="VARCHAR"/>
    	<result property="title" column="title" jdbcType="VARCHAR"/>
    	<result property="redirectType" column="redirect_type" jdbcType="VARCHAR"/>
    	<result property="redirectUrl" column="redirect_url" jdbcType="VARCHAR"/>
    	<result property="sort" column="sort" jdbcType="INTEGER"/>
    	<result property="effectiveTime" column="effective_time" jdbcType="TIMESTAMP"/>
    	<result property="failureTime" column="failure_time" jdbcType="TIMESTAMP"/>
    	<result property="lastOperateUser" column="last_operate_user" jdbcType="VARCHAR"/>
    	<result property="lastOperateTime" column="last_operate_time" jdbcType="TIMESTAMP"/>
    	<result property="status" column="status" jdbcType="INTEGER"/>
    	<result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
    </resultMap>
    
    <sql id="Base_Column_insert" >
		Id,title,redirect_type,redirect_url,sort,effective_time,failure_time,last_operate_user,last_operate_time
    </sql>
     <sql id="Base_Column_List" >
		Id,title,redirect_type,redirect_url,sort,effective_time,failure_time,last_operate_user,last_operate_time,
		IF (
			NOW() <![CDATA[<]]> effective_time,
			1,
		IF (
			NOW() <![CDATA[>]]>  failure_time,
			3,
		IF (
			NOW() <![CDATA[>=]]> effective_time
			AND NOW() <![CDATA[<=]]>  failure_time,
			2,
			0
		)
		)
		) AS status
		
    </sql>
    
    <sql id="where">
			<if test="id != null and id != ''">
        	and Id = #{id,jdbcType=VARCHAR}
	        </if>
			<if test="title != null and title != ''">
        	and title like '%${title}%'
	        </if>
			<if test="redirectType != null and redirectType != ''">
        	and redirect_type = #{redirectType,jdbcType=VARCHAR}
	        </if>
			<if test="redirectUrl != null and redirectUrl != ''">
        	and redirect_url = #{redirectUrl,jdbcType=VARCHAR}
	        </if>
			<if test="sort != null and sort != 0">
        	and sort = #{sort,jdbcType=INTEGER}
	        </if>
			<if test="effectiveTime != null and failureTime != null">
        	and ( (effective_time  between #{effectiveTime,jdbcType=TIMESTAMP} and #{failureTime,jdbcType=TIMESTAMP}) or( failure_time   between #{effectiveTime,jdbcType=TIMESTAMP} and #{failureTime,jdbcType=TIMESTAMP}) )
	        </if>
			<if test="lastOperateUser != null and lastOperateUser != ''">
        	and last_operate_user = #{lastOperateUser,jdbcType=VARCHAR}
	        </if>
			<if test="lastOperateTime != null">
        	and last_operate_time = #{lastOperateTime,jdbcType=TIMESTAMP}
	        </if>
	         <if test="status == 1">
	        	and  NOW() <![CDATA[<]]> effective_time
	        </if>
	         <if test="status == 2">
	        	and NOW() <![CDATA[>=]]> effective_time
	        	and NOW() <![CDATA[<=]]> failure_time
	        </if>
	         <if test="status == 3">
	        	and  NOW() <![CDATA[>]]>failure_time
	        </if>
	        
    </sql>
    <sql id="set">
			<if test="id != null">
        	Id = #{id,jdbcType=VARCHAR},
	        </if>
			<if test="title != null">
        	title = #{title,jdbcType=VARCHAR},
	        </if>
			<if test="redirectType != null">
        	redirect_type = #{redirectType,jdbcType=VARCHAR},
	        </if>
			<if test="redirectUrl != null">
        	redirect_url = #{redirectUrl,jdbcType=VARCHAR},
	        </if>
			<if test="sort != null and sort != 0">
        	sort = #{sort,jdbcType=INTEGER},
	        </if>
			<if test="effectiveTime != null">
        	effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
	        </if>
			<if test="failureTime != null">
        	failure_time = #{failureTime,jdbcType=TIMESTAMP},
	        </if>
			<if test="lastOperateUser != null">
        	last_operate_user = #{lastOperateUser,jdbcType=VARCHAR},
	        </if>
			<if test="lastOperateTime != null">
        	last_operate_time = #{lastOperateTime,jdbcType=TIMESTAMP}
	        </if>
	        <if test="deleteFlag != null and deleteFlag >0 ">
        	delete_flag = #{deleteFlag,jdbcType=TINYINT}
	        </if>
    </sql>
    
    <select id="getById" resultMap="Notice" parameterType="java.lang.String">
        select 
        <include refid="Base_Column_List"/>
        from tbl_wfx_notice
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="findPage" parameterType="com.yougou.wfx.notice.model.NoticeEntity" resultMap="Notice">
        select <include refid="Base_Column_List" /> from tbl_wfx_notice where 1=1 and delete_flag = 0
        <include refid="where" />
        order by sort desc
    </select>
    
    
    <select id="findPageCount" parameterType="com.yougou.wfx.notice.model.NoticeEntity" resultType="int">
        select count(1) from tbl_wfx_notice where 1=1  and delete_flag = 0
        <include refid="where" />
    </select>
    
    <select id="queryList" parameterType="com.yougou.wfx.notice.model.NoticeEntity" resultMap="Notice">
        select * from tbl_wfx_notice where 1=1  and delete_flag = 0
        <include refid="where" />   order by sort desc
    </select>
   
    <insert id="insert" parameterType="com.yougou.wfx.notice.model.NoticeEntity">
        insert into tbl_wfx_notice (<include refid="Base_Column_insert" />)
        values (
        #{id,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{redirectType,jdbcType=VARCHAR},#{redirectUrl,jdbcType=VARCHAR},#{sort,jdbcType=INTEGER},#{effectiveTime,jdbcType=TIMESTAMP},#{failureTime,jdbcType=TIMESTAMP},#{lastOperateUser,jdbcType=VARCHAR},#{lastOperateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <delete id="remove" parameterType="java.lang.String" >
        delete from tbl_wfx_notice
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <update id="update" parameterType="com.yougou.wfx.notice.model.NoticeEntity" >
        update tbl_wfx_notice
        <set>
      	<include refid="set" />
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>