<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yougou.wfx.cms.dao.CommoditySaleCatMapper">
    <resultMap id="CommoditySaleCat" type="com.yougou.wfx.cms.model.CommoditySaleCatEntity">
    	<result property="id" column="id" jdbcType="VARCHAR"/>
    	<result property="name" column="name" jdbcType="VARCHAR"/>
    	<result property="catNo" column="cat_no" jdbcType="VARCHAR"/>
    	<result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
    	<result property="productNum" column="product_num" jdbcType="INTEGER"/>
    	<result property="level" column="level" jdbcType="TINYINT"/>
    	<result property="hotFlag" column="hot_flag" jdbcType="TINYINT"/>
    	<result property="hotSn" column="hot_sn" jdbcType="TINYINT"/>
    	<result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
    	<result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    	<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    	<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    	<result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
		id,name,cat_no,pic_url,product_num,level,hot_flag,hot_sn,parent_id,update_user,update_time,create_time,delete_flag
    </sql>
    
    <sql id="where">
			<if test="id != null and id != ''">
        	and id = #{id,jdbcType=VARCHAR}
	        </if>
			<if test="name != null and name != ''">
        	and name = #{name,jdbcType=VARCHAR}
	        </if>
			<if test="catNo != null and catNo != ''">
        	and cat_no = #{catNo,jdbcType=VARCHAR}
	        </if>
			<if test="picUrl != null and picUrl != ''">
        	and pic_url = #{picUrl,jdbcType=VARCHAR}
	        </if>
			<if test="productNum != null and productNum != 0">
        	and product_num = #{productNum,jdbcType=INTEGER}
	        </if>
			<if test="level != null and level != 0">
        	and level = #{level,jdbcType=TINYINT}
	        </if>
			<if test="hotFlag != null and hotFlag != 0">
        	and hot_flag = #{hotFlag,jdbcType=TINYINT}
	        </if>
			<if test="hotSn != null and hotSn != 0">
        	and hot_sn = #{hotSn,jdbcType=TINYINT}
	        </if>
			<if test="parentId != null and parentId != ''">
        	and parent_id = #{parentId,jdbcType=VARCHAR}
	        </if>
			<if test="updateUser != null and updateUser != ''">
        	and update_user = #{updateUser,jdbcType=VARCHAR}
	        </if>
			<if test="updateTime != null">
        	and update_time = #{updateTime,jdbcType=TIMESTAMP}
	        </if>
			<if test="createTime != null">
        	and create_time = #{createTime,jdbcType=TIMESTAMP}
	        </if>
			<if test="deleteFlag != null and deleteFlag != 0">
        	and delete_flag = #{deleteFlag,jdbcType=TINYINT}
	        </if>
    </sql>
    
    <sql id="hotCatWhere">
			<if test="id != null and id != ''">
        	and id = #{id,jdbcType=VARCHAR}
	        </if>
			<if test="name != null and name != ''">
        	and name = #{name,jdbcType=VARCHAR}
	        </if>
			<if test="catNo != null and catNo != ''">
        	and cat_no = #{catNo,jdbcType=VARCHAR}
	        </if>
			<if test="picUrl != null and picUrl != ''">
        	and pic_url = #{picUrl,jdbcType=VARCHAR}
	        </if>
			<if test="productNum != null and productNum != 0">
        	and product_num = #{productNum,jdbcType=INTEGER}
	        </if>
			<if test="level != null and level != 0">
        	and level = #{level,jdbcType=TINYINT}
	        </if>
			<if test="hotSn != null and hotSn != 0">
        	and hot_sn = #{hotSn,jdbcType=TINYINT}
	        </if>
			<if test="parentId != null and parentId != ''">
        	and parent_id = #{parentId,jdbcType=VARCHAR}
	        </if>
			<if test="updateUser != null and updateUser != ''">
        	and update_user = #{updateUser,jdbcType=VARCHAR}
	        </if>
			<if test="updateTime != null">
        	and update_time = #{updateTime,jdbcType=TIMESTAMP}
	        </if>
			<if test="createTime != null">
        	and create_time = #{createTime,jdbcType=TIMESTAMP}
	        </if>
    </sql>
    
    <sql id="set">
			<if test="id != null">
        	id = #{id,jdbcType=VARCHAR},
	        </if>
			<if test="name != null">
        	name = #{name,jdbcType=VARCHAR},
	        </if>
			<if test="catNo != null">
        	cat_no = #{catNo,jdbcType=VARCHAR},
	        </if>
			<if test="picUrl != null">
        	pic_url = #{picUrl,jdbcType=VARCHAR},
	        </if>
			<if test="productNum != null and productNum != 0">
        	product_num = #{productNum,jdbcType=INTEGER},
	        </if>
			<if test="level != null and level != 0">
        	level = #{level,jdbcType=TINYINT},
	        </if>
			<if test="hotFlag != null and hotFlag != 0">
        	hot_flag = #{hotFlag,jdbcType=TINYINT},
	        </if>
			<if test="hotSn != null">
        	hot_sn = #{hotSn,jdbcType=TINYINT},
	        </if>
			<if test="parentId != null">
        	parent_id = #{parentId,jdbcType=VARCHAR},
	        </if>
			<if test="updateUser != null">
        	update_user = #{updateUser,jdbcType=VARCHAR},
	        </if>
			<if test="updateTime != null">
        	update_time = #{updateTime,jdbcType=TIMESTAMP},
	        </if>
			<if test="createTime != null">
        	create_time = #{createTime,jdbcType=TIMESTAMP},
	        </if>
			<if test="deleteFlag != null and deleteFlag != 0">
        	delete_flag = #{deleteFlag,jdbcType=TINYINT}
	        </if>
    </sql>
    
    <sql id="batchSet">
			<if test="item.id != null">
        	id = #{item.id,jdbcType=VARCHAR},
	        </if>
			<if test="item.name != null">
        	name = #{item.name,jdbcType=VARCHAR},
	        </if>
			<if test="item.catNo != null">
        	cat_no = #{item.catNo,jdbcType=VARCHAR},
	        </if>
			<if test="item.picUrl != null">
        	pic_url = #{item.picUrl,jdbcType=VARCHAR},
	        </if>
			<if test="item.productNum != null">
        	product_num = #{item.productNum,jdbcType=INTEGER},
	        </if>
			<if test="item.level != null and item.level != 0">
        	level = #{item.level,jdbcType=TINYINT},
	        </if>
			<if test="item.hotFlag != null and item.hotFlag != 0">
        	hot_flag = #{item.hotFlag,jdbcType=TINYINT},
	        </if>
			<if test="item.hotSn != null">
        	hot_sn = #{item.hotSn,jdbcType=TINYINT},
	        </if>
			<if test="item.parentId != null">
        	parent_id = #{item.parentId,jdbcType=VARCHAR},
	        </if>
			<if test="item.updateUser != null">
        	update_user = #{item.updateUser,jdbcType=VARCHAR},
	        </if>
			<if test="item.updateTime != null">
        	update_time = #{item.updateTime,jdbcType=TIMESTAMP},
	        </if>
			<if test="item.createTime != null">
        	create_time = #{item.createTime,jdbcType=TIMESTAMP},
	        </if>
			<if test="item.deleteFlag != null and item.deleteFlag != 0">
        	delete_flag = #{item.deleteFlag,jdbcType=TINYINT}
	        </if>
    </sql>
    
    <select id="getById" resultMap="CommoditySaleCat" parameterType="java.lang.String">
        select 
        <include refid="Base_Column_List"/>
        from tbl_wfx_commodity_sale_cat
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="findPage" parameterType="com.yougou.wfx.cms.model.CommoditySaleCatEntity" resultMap="CommoditySaleCat">
        select <include refid="Base_Column_List"/> from tbl_wfx_commodity_sale_cat where 1=1 
        <include refid="where" />
    </select>
    
    <select id="findPageCount" parameterType="com.yougou.wfx.cms.model.CommoditySaleCatEntity" resultType="int">
        select count(1) from tbl_wfx_commodity_sale_cat where 1=1 
        <include refid="where" />
    </select>
    
    <select id="queryList" parameterType="com.yougou.wfx.cms.model.CommoditySaleCatEntity" resultMap="CommoditySaleCat">
        select <include refid="Base_Column_List"/> from tbl_wfx_commodity_sale_cat where 1=1 
        <include refid="where" />
    </select>
   
    <insert id="insert" parameterType="com.yougou.wfx.cms.model.CommoditySaleCatEntity">
        insert into tbl_wfx_commodity_sale_cat (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{catNo,jdbcType=VARCHAR},#{picUrl,jdbcType=VARCHAR},#{productNum,jdbcType=INTEGER},#{level,jdbcType=TINYINT},#{hotFlag,jdbcType=TINYINT},#{hotSn,jdbcType=TINYINT},#{parentId,jdbcType=VARCHAR},#{updateUser,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP},#{deleteFlag,jdbcType=TINYINT}
        )
    </insert>
    
    <delete id="remove" parameterType="java.lang.String" >
        delete from tbl_wfx_commodity_sale_cat
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <update id="update" parameterType="com.yougou.wfx.cms.model.CommoditySaleCatEntity" >
        update tbl_wfx_commodity_sale_cat
        <set>
      	<include refid="set" />
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <update id="updateChildren" parameterType="com.yougou.wfx.cms.model.CommoditySaleCatEntity" >
        update tbl_wfx_commodity_sale_cat
        <set>
      	<include refid="set" />
        </set>
        where parent_id = #{parentId,jdbcType=VARCHAR}
    </update>
    
    <select id="queryHotCatList" parameterType="com.yougou.wfx.cms.model.CommoditySaleCatEntity" resultMap="CommoditySaleCat">
        select <include refid="Base_Column_List"/> from tbl_wfx_commodity_sale_cat where delete_flag = 2 and hot_flag = 1
        <include refid="hotCatWhere" />
        order by hot_sn
    </select>
    
    <select id="getHotCatCount" parameterType="com.yougou.wfx.cms.model.CommoditySaleCatEntity" resultType="int">
        select count(*) from tbl_wfx_commodity_sale_cat where delete_flag = 2 and hot_flag = 1
        <include refid="hotCatWhere" />
        order by hot_sn
    </select>
    
    <select id="getMaxHotCatSn" resultType="Integer">
        select max(hot_sn) from tbl_wfx_commodity_sale_cat where delete_flag = 2 and hot_flag = 1
    </select>
    
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close=";" separator=";">  
	        update tbl_wfx_commodity_sale_cat
	        <set>
	      	<include refid="batchSet" />
	        </set>
	        where id = #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>
    
    <update id="computeSaleCatSkuNum" >
   	 	UPDATE tbl_wfx_commodity_sale_cat AS t6, (
			SELECT
				t1.id,count(t5.id) as num
			FROM
				tbl_wfx_commodity_sale_cat t1
			LEFT JOIN tbl_wfx_commodity_sale_cat_rela t2 ON t1.id = t2.sale_cat_id
			LEFT JOIN tbl_commodity_catb2c t3 ON t2.base_cat_id = t3.id
			LEFT JOIN tbl_commodity_style t4 ON (t4.cat_no = t3.`no` AND t4.Is_wfx_commodity = 1 AND t4.Is_onsale = 1)
			LEFT JOIN tbl_commodity_product t5 ON t5.commodity_id = t4.id
			WHERE
				t1.delete_flag=2
			GROUP BY
				t1.id
		) AS t7
		SET t6.product_num = t7.num
		WHERE
			t6.id = t7.id
    </update>
</mapper>